body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("styles/aum3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    display: flex;
    justify-content: center;
}

#body_box {
    width: 950px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 231, 231);
}

header {
    background: linear-gradient(to right, white, #fab834, #ff6600);
    padding-bottom: 50px; 
    position: relative; 
}

#header {
    height: 90px;
    padding: 0 25px;
}

#logo {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 138px;
    width: 130px;
    background-color: white;
    border: 1px solid black;
    padding-right: 9px;
    padding-left: 9px;
    text-align: center; 
    line-height: 138px;
}

#logo img{
    max-width: 80%;
    height: auto;
    vertical-align: middle; 
    display: inline-block;
}

nav ul li:first-child a {
    margin-left: 140px; 
}

#title {
    font-size: 27px;
    font-weight: bold;
    color: black;
    text-align: center;
    position: absolute;
    top: 30px; 
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

nav {
    background-color: black;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav ul li a.current {
    color: orange;
}

nav ul li a:hover {
    background-color: gray;
    color: black;
}

main {
    padding: 20px 0;
    background-color: rgb(233, 231, 231);;
}

#gpa_box {
    background-color: rgb(233, 231, 231);;
    width: 898px;
    margin: 0 auto 30px 25px;
    padding: 15px 20px 25px 20px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    box-sizing: border-box;
}

#gpa_box h2 {
    text-align: center;
    margin-top: 5px;
}

.sentence p {
    font-size: 14px;
    margin-bottom: 20px;
}

#input_box {
    width: 100%;
    margin-top: 10px;
}

.column_titles {
    margin-bottom: 10px;
}

.credit_column {
    float: left;
    width: 20%;
    font-weight: bold;
    text-align: center;
    margin-left: 29%;
    font-size: 20px;
    margin-bottom: 10px;
}

.grade_column {
    float: left;
    width: 20%;
    font-weight: bold;
    text-align: center;
    margin-left: -0.1%;
    font-size: 20px;
    margin-bottom: 10px;
}

.course {
    float: left;
    width: 22%;
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.credit_userinput,
.grade_userinput {
    float: left;
    width: 10%;
    padding: 4px;
    height: 22px;
    border: 1px solid black;
    background-color: white;
    text-align: left;
    margin-right: 10%;
    box-sizing: border-box;
}

.grade_userinput {
    margin-right: 0;
}

#result {
    float: left;
    width: 10%;
    padding: 4px;
    height: 22px;
    border: 1px solid black;
    background-color: #c9c9c9;
    text-align: left;
    box-sizing: border-box;
}

.no_of_courses::after {
    content: "";
    display: block;
    clear: both;
}

.gpa_result::after {
    content: "";
    display: block;
    clear: both;
}

.buttons {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

#submit_button {
    margin-right: 27px; 
    margin-left: 0;    
}

#reset_button {
    margin-right: 20px;
}

.buttons button {
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
    padding: 7px 25px;
    font-size: 14px;
    margin: 0 30px;
}

footer {
    background-color: #ff6600;
    position: relative;
    padding: 8px 25px 0 25px; 
    border-top: 1px solid black;
}

#f_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.middle p {
    font-size: 15px;
    margin-top: 0;
}

footer .middle {
    position: absolute;
    left: 50%;
    width: 150px; 
    margin-left: -75px; 
    text-align: center;
    font-size: 12px;
    padding-top: 8px; 
}

footer .right img {
    width: 25px;
    margin-left: 8px;
    vertical-align: top;
    padding-top: 8px; 
}

footer .left {
    line-height: 1.3;
    font-size: 15px; 
    padding-top: 8px;
    padding-bottom: 8px; 
}