body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("styles/aum3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    display: flex;
    justify-content: center;
}

#body_box {
    width: 950px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 231, 231);
}

header {
    background: linear-gradient(to right, white, #fab834, #ff6600);
    padding-bottom: 50px; 
    position: relative; 
}

#header {
    height: 90px;
    padding: 0 25px;
}

#logo {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 138px;
    width: 130px;
    background-color: white;
    border: 1px solid black;
    padding-right: 9px;
    padding-left: 9px;
    text-align: center; 
    line-height: 138px;
}

#logo img {
    max-width: 80%;
    height: auto;
    vertical-align: middle; 
    display: inline-block;
}

nav ul li:first-child a {
    margin-left: 140px; 
}

#title {
    font-size: 27px;
    font-weight: bold;
    color: black;
    text-align: center;
    position: absolute;
    top: 30px; 
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

nav {
    background-color: black;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav ul li a.current {
    color: orange;
}

nav ul li a:hover {
    background-color: gray;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

section#box {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    background-color: #e6e6e6;
    width: 500px;
    padding: 20px 30px;
}

section#box h2 {
    margin-top: 0;
    font-size: 26px;
    font-weight: bold;
    text-align: left; 
}

section#box h3 {
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold; 
    font-size: 18px;
}

.detail {
    clear: both;
    margin-bottom: 12px;
}

.detail label {
    display: inline-block;
    width: 100px; 
    font-size: 14px;
    text-align: left;
}

.detail input[type="text"],
.detail textarea {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding: 5px;
}

.options {
    display: inline-block;
    margin-left: 5px;
}

.options label {
    display: contents;
    margin-right: 0px; 
}

input#gpa {
    width: 50px;
}

textarea#comments {
    width: 175px;
    height: 80px;
}

aside.ty_note p {
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.buttons {
    text-align: center;
    margin-top: 15px;
}

.buttons input {
    display: inline-block;
    padding: 10px 30px;
    margin: 0 10px;
}

footer {
    background-color: #ff6600;
    position: relative;
    padding: 8px 25px 0 25px; 
    border-top: 1px solid black;
}

#f_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.middle p {
    font-size: 15px;
    margin-top: 0;
}

footer .middle {
    position: absolute;
    left: 50%;
    width: 150px; 
    margin-left: -75px; 
    text-align: center;
    font-size: 12px;
    padding-top: 8px; 
}

footer .right img {
    width: 25px;
    margin-left: 8px;
    vertical-align: top;
    padding-top: 8px; 
}

footer .left {
    line-height: 1.3;
    font-size: 15px; 
    padding-top: 8px;
    padding-bottom: 8px; 
}